@use '../utils/' as *;

.expenses {
  display: flex;
  flex-direction: column;
  gap: 40px;

  &__card {
    width: 258px;
    height: 124px;
    padding-left: 32px;

    display: flex;
    gap: 24px;
    align-items: center;
  }
  &__card-icon {
    width: 60px;
    height: 60px;

    border-radius: $border-radius;
    background: grey center no-repeat;
  }
  &__calories &__card-icon {
    background-color: rgba($color: #ff0000, $alpha: 0.07);
    background-image: url(../../assets/flame.svg);
  }
  &__proteines &__card-icon {
    background-color: rgba($color: #4ab8ff, $alpha: 0.1);
    background-image: url(../../assets/meat.svg);
  }
  &__glucides &__card-icon {
    background-color: rgba($color: #fdcc0c, $alpha: 0.1);
    background-image: url(../../assets/apple.svg);
  }
  &__lipides &__card-icon {
    background-color: rgba($color: #fd5181, $alpha: 0.1);
    background-image: url(../../assets/cheeseburger.svg);
  }
  &__card-layout {
    display: flex;
    flex-direction: column;
  }
  &__card-amount {
    line-height: 24px;
    margin: 0;

    color: #282d30;
    font-size: 20px;
    font-weight: 500;
  }
  &__card-unit {
    line-height: 24px;
    margin: 0;

    color: #74798c;
    font-size: 14px;
    font-weight: 500;
  }

  @include media-breakpoint-down(lg) {
    &__card {
      width: 170px;
      padding-left: 0;
    }
  }
  @include media-breakpoint-down(md) {
    flex-direction: row;
    gap: 40px;
    flex-wrap: wrap;

    &__card {
      height: 48px;
    }
  }
}
