@use '../utils/' as *;

.header {
  height: $header-height;

  background-color: $color-primary;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  &__logo {
      width: 178px;
      height: 60px;

      background: center no-repeat url(../../assets/logo.svg);
      background-size: contain;
  }
  nav {
    width: 100%;
    max-width: 1100px;
    padding: 0 0.5em;

    color: white;

    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }
  a {
    &:hover {
      text-decoration: underline;
    }
    margin: 0 0.5em;
  }
}
