@use 'variables' as *;

@mixin addColorLayer($color: rgba(0, 0, 0, 0.3)) {
  &::after {
    content: '';

    background-color: $color;

    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
  }
}

@mixin colorOption {
  &--red {
    background-color: $color-primary;
  }
}

@mixin focusable($offset: $focus-offset) {
  /* Supprime le bord gris par défaut */
  outline: 0;
  position: relative;

  &:focus::after {
    content: '';

    border: solid $focus-border-size $color-primary;
    border-radius: $offset;
    outline: none;

    position: absolute;
    top: -$offset;
    bottom: -$offset;
    left: -$offset;
    right: -$offset;
  }
}

@mixin focusable-circle($offset: $focus-offset) {
  /* Supprime le bord gris par défaut */
  outline: 0;
  position: relative;

  &:focus::after {
    content: '';

    border: solid $focus-border-size $color-primary;
    border-radius: 100%;
    outline: none;

    position: absolute;
    top: -$offset;
    bottom: -$offset;
    left: -$offset;
    right: -$offset;
  }
}

@mixin focusable-block($round: $border-radius) {
  &:focus {
    outline: solid $focus-border-size $color-tertiary;
    border-radius: $round;
    z-index: 1;
  }
}

@mixin focusable-inset($width: $focus-border-size) {
  &:focus {
    box-shadow: inset 0 0 0 $width $color-tertiary;
  }
}

@mixin focusable-img($offset: $focus-offset) {
  &:focus {
    padding: $offset;

    border: solid $focus-border-size $color-primary;
    border-radius: $offset;

    outline: none;
  }
}

@mixin focusable-button {
  &:focus {
    outline: 0;
    position: relative;

    &::after {
      content: '';

      border: solid $focus-border-size $background-primary;
      border-radius: 8px;

      outline: none;
      position: absolute;
      top: -4px;
      bottom: -4px;
      left: -4px;
      right: -4px;
    }
  }
}

@mixin media-breakpoint-down($breakpoint) {
  @media screen and (max-width: (map-get($breakpoints, $breakpoint) - 0.02)) {
    @content;
  }
}

@mixin media-breakpoint-between($min, $max) {
  @media screen and (min-width: map-get($breakpoints, $min)) and (max-width: (map-get($breakpoints, $max) - 0.02)) {
    @content;
  }
}
