$color-primary: #020203;
$color-secondary: #e60000;
$color-tertiary: #282d30;
$color-accent: #74798c;
$color-background: white;

$font-primary: 'Roboto', sans-serif;

$margin: 30px;

$border-radius: 6px;

$animation-duration: 0.3s;

$breakpoints: (
  sm: 720px,
  md: 1000px,
  lg: 1350px,
  xl: 1440px,
);

/* COMPONENTS */

$activity-graphHeight: 260px;
$activity-flexGap: 30px;

$card-size: 340px;
$card-size-mobile: 255px;

$header-height: 91px;
$header-padding: 40px;

$logo-width: 210px;
$logo-height: 68px;

$sidebar-width: 117px;
