@use '../utils/' as *;

.home {
  display: flex;
  flex-grow: 1;

  &__content {
    padding: 0 100px;
    padding-top: 50px;
    flex-grow: 1;
  }
  &__name {
    color: $color-secondary;
  }

  @include media-breakpoint-down(lg) {
    &__content {
      padding: 0 40px;
      padding-top: 25px;
    }
  }
}
